@model AShop.Views.ViewModels.AShopCartViewModels

<div class="container">
    @foreach (var el in Model.ashopCartMod.listAShopItemsNew)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль:</b> @el.CarOb.name<br />
            <b>Цена:</b> @el.CarOb.price.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Opder" asp-action="Checkout">Оплатить</a>
</div>
